# Created by https://www.toptal.com/developers/gitignore/api/elisp
# Edit at https://www.toptal.com/developers/gitignore?templates=elisp

### Elisp ###
# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# End of https://www.toptal.com/developers/gitignore/api/elisp

# Org temporary files
\#*\#

# tangled files
init.el
config.el
packages.el
custom.el
lisp/*.el

# for make
.build_stamp.txt
